@import './main.css';
@import './components.css';
@import './animations.css';

/* NextJS specifics */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--clr-bg-panel);
  color: var(--clr-text-prime);
}
